@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');

:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
  --title: 'Poppins', sans-serif;
  --text: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    font-family: var(--text);
}

header{
    background: var(--purple-bg);
    color: var(--white);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: 20vh;
    grid-template-areas: 
        "figure nav form";
    align-items: center;
}
figure{
    grid-area: figure;
    justify-self: center;
}
nav{
    grid-area: nav;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    
}
nav ul li{
    width: 25%;
    text-align: center;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: var(--white);
}
nav ul li a:hover{
    font-weight: bold;
    border-left: 2px solid var(--green);
}
form{
    grid-area: form;
    display: flex;
    align-items: center;
}
form input{
    height: 7vh;
    padding-left: 1vw;
    color: var(--white);
    background: var(--dark-bg);
    border: none;
}
::placeholder{
    color: var(--white);
}
form button{
    padding: 1.8vh 1.3vw;
    cursor: pointer;
    border: none;
    border-radius: 0 10% 10% 0;
    background: var(--button-bg);
}

.top{
    display: grid;
    grid: "div figure";
    background: var(--purple-bg);
    padding: 0 2vw;
    border-bottom: 5px solid var(--green);
}
.top div{
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: space-evenly;
    padding: 8vh 5vw;
}
h1{
    color: var(--button-bg);
    font-size: 1.8rem;
    line-height: 2.5rem;
}
.top p{
    color: var(--light-purple);
    font-size: .8rem;
    line-height: 1.5rem;
}
button{
    color: var(--button-bg);
    background: none;
    border: none;
    display: flex;
    align-items: center;
}
.top figure{
    display: flex;
    align-items: center;
}
.top figure img{
    border-radius: 2%;
    width: 35vw;
}
main{
    background: var(--light-purple);
}
.news{
    display: flex;
    justify-content: space-between;
}
.news aside{
    display: flex;
    flex-direction: column;
}
.post-one,
.post-two,
.post-three{
    width: 40vw;
    padding: 5vh 4vw;
}
.post-one figure{
    display: flex;
    flex-direction: column;
}
.post-two{
    height: 60%;
    width: 90%;
    border-bottom: 1px solid lightgray;
}
.post-two p{
    padding-bottom: 2vh;
}
h2{
    color: var(--purple-bg);
    padding: 1vh 0;
}
time{
    font-size: .8rem;
}
p{
    font-size: .9rem;
}
.news-row{
    display: flex;
    margin: 2vh 1vw;
}
.news-row article{
    margin: 2vh 1vw;
}
.news-row figure img{
    width: 24vw;
}