@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');

:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
  --title: 'Poppins', sans-serif;
  --text: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    font-family: var(--text);
}

header{
    background: var(--purple-bg);
    color: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8vh 0;
}
nav{
    width: 30vw;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    text-align: center;
    list-style: none;
    font-size: .8rem;
}
nav ul li a{
    text-decoration: none;
    color: var(--white);
}
nav ul li a:hover{
    font-weight: bold;
    border-left: 2px solid var(--green);
}
form{
    display: flex;
    align-items: center;
}
form input{
    height: 7vh;
    padding-left: 1vw;
    color: var(--white);
    background: var(--dark-bg);
    border: none;
}
::placeholder{
    color: var(--white);
}
form button{
    padding: 1.8vh 1.3vw;
    cursor: pointer;
    border: none;
    border-radius: 0 10% 10% 0;
    background: var(--button-bg);
}
.top{
    display: flex;
    background: var(--purple-bg);
    border-bottom: 5px solid var(--green);
}
.top-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    padding: 0 4vw 8vh 9vw;
}
h1{
    color: var(--button-bg);
    font-size: 2.2rem;
    line-height: 2.5rem;
}
.top-text p{
    color: var(--light-purple);
    font-size: 1rem;
    line-height: 1.5rem;
}
.top-text button{
    color: var(--button-bg);
    background: none;
    border: none;
    display: flex;
    align-items: center;
}
.top-text button:hover{
    cursor: pointer;
}
.top figure img{
    width: 40vw;
    padding-bottom: 8vh;
}

main{
    background: var(--light-purple);
}
.news{
    display: flex;
    justify-content: space-between;
    padding: 8vh 9vw;
}
.news aside{
    display: flex;
    flex-direction: column;
}
.post-one,
.post-two,
.post-three{
    width: 35vw;
}
.post-one:hover,
.post-two:hover,
.post-three:hover{
    cursor: pointer;
}
.post-one figure{
    display: flex;
    flex-direction: column;
}
.row-gray{
    border: .5px solid rgb(222, 222, 222);
    width: 100%;
    height: 1px;
    margin: auto;
}
.news-row{
    display: flex;
    padding: 0 8vw;
    margin: 0vh 0vw;
}
.news-row article{
    margin: 10vh 1vw;
}
.news-row article:hover{
    cursor: pointer;
}

.news-row figure img{
    width: 25vw;
}
h2{
    color: var(--purple-bg);
    padding: 1vh 0;
}
time{
    font-size: .8rem;
}
p{
    font-size: .9rem;
}